footer {
  background-color: #333;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 1em;
}


/* Footer left */
footer .footer-left {
  width: 20%;
}

footer .footer-left img {
  width: 20%;
}

footer .footer-website-name {
  color: #fff;
  font-size: smaller;
  font-family: 'Open Sans';
  margin-top: 1%;
  margin-bottom: 1%;
}


/* Footer Center */
footer .footer-center {
  width: 50%;
}



/* Footer Right */
footer .footer-right {
  width: 30%;
}


footer .footer-icons i {
  padding: 0 5px;
}

footer .footer-icons a {
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans';

  opacity: 90%;
  color: #ffffff;
  font-size: 70%;
  text-align: left;

  width: 8cm;
  text-decoration: none;
}

/* responsive footer */
@media (max-height:800px) {
  footer {
    position: static;
  }
}

@media (max-width: 880px) {

  footer .footer-left,
  footer .footer-center,
  footer .footer-right {
    width: 100%;
    display: block;
  }

  footer .footer-center i {
    margin-left: 0;
  }
}