/* Image class */
.photo {
  margin: 0;
  padding: 10px;
  color: white;
  background-color: teal;
}

.image-container {
  margin: 0;
}

.image-container p {
  padding: 3px 6px;
  margin-top: -5px;
  margin-bottom: -10px;
}

.w100 {
  width: 100%;
}