/* Columns 15-70-15 */
.left15 {
  flex: 15%;
  -ms-flex: 15%;
  background-color: #eee;
  padding: 20px;
}

.right15 {
  flex: 15%;
  -ms-flex: 15%;
  background-color: #eee;
  padding: 20px;
}

.main70 {
  flex: 70%;
  -ms-flex: 70%;
  background-color: whitesmoke;
  padding: 5em;
}

/* Columns 20-80 */
.left20 {
  flex: 20%;
  -ms-flex: 20%;
  background-color: #e1e1e1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.right80 {
  flex: 80%;
  -ms-flex: 80%;
  background-color: #eee;
  padding: 20px;
}

/* Column 100 */
.main {
  flex: 100%;
  -ms-flex: 100%;
  background-color: #eee;
  padding: 20px 0;
}



/* Containers */
.container {
  padding: 0 20px 10px 20px;
  object-fit: cover;
}

.container.top {
  width: 100%;
  float: right;
}

.container.top.round {
  border-radius: 0px 0px 5px 5px;
}

.container.bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ddd;
}

.container.bottom.round {
  border-radius: 0px 0px 5px 5px;
}

.container:after {
  content: "";
  clear: both;
  display: table;
}

.container p {
  margin: 0 0 1em 0;
  font-size: smaller;
}



/* Row */
.row {
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}

.row-padding {
  padding: 2em;
}

.row:after,
.row:before {
  float: left;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}



/* Login and Register overlay */
.overlayLogin {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.overlayLogin-content {
  background-color: whitesmoke;
  margin: 5% auto 15% auto;
  width: 50%;
  border: none;
  border-radius: 5px;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@keyframes animatezoom {
  from {
    transform: scale(0.5)
  }

  to {
    transform: scale(1)
  }
}



/* Gallery */
.grid-gallery {
  padding: 1em;
  max-width: auto;
  margin: 0 auto;
  padding: 0 2em;
  background-color: #eee;
}

.posts.row-padding>h1,
.grid-gallery>h1 {
  text-align: left;
  color: teal;
  margin: 0 0 1em 0;
  padding-top: 1em;
  background-color: #eee;
  font-size: xx-large;
}

.posts.row-padding>h1.pink,
.grid-gallery>h1.pink {
  color: #ffaaaa;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  margin: -1em -1em;
  padding-bottom: 3em;
}

.fav-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.15em 0.5em 0.5em 0.4em;
  border-radius: 0 0 10px 0;
}

.photo-stats {
  color: whitesmoke;
  background-color: #00000088;

  display: block;
  border-radius: 10px;
  padding: 0.2em 0.5em;

  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}

.posts-item {
  position: relative;
  flex: 1 0 10em;
  margin: 1em;
}

.posts-container {
  width: 100%;
  height: 80%;
  object-fit: cover;
  position: relative;
}

.posts-inside-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.posts-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/* Profile Section */
.profile {
  padding: 1em 0;
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}

.profile-image {
  float: left;
  display: flex;
  justify-content: left;
  align-items: left;
}

.profile-image img {
  border-radius: 50%;
  width: 150px;
}

.profile-header {
  margin-top: 1.1em;
}

.profile-user-name {
  display: inline-block;
  font-size: 3.2em;
  font-weight: 300;
  margin: 0;
}

.profile-settings-button {
  border-radius: 10%;
  width: auto;

  display: inline;
  cursor: pointer;
  font-size: 2em;
  margin: 0;
  padding: 0.1em 0.3em;
  color: teal;
  background-color: transparent;
}

.profile-real-name {
  font-weight: 600;
}

.profile-real-name {
  margin: 0;
  padding: 0;
}



/* Media Query */
@media screen and (max-width: 35em) {
  .profile {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 0;
  }

  .profile::after {
    display: none;
  }

  .profile-image,
  .profile-header {
    float: none;
    width: auto;
  }

  .profile-header {
    flex-basis: calc(100% - 10.7em);
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
  }

  .profile-user-name {
    font-size: 2.2em;
  }
}

/*
The following code will only run if your browser supports CSS grid.
Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 
*/

@supports (display: grid) {
  .profile {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 3em;
    align-items: center;
  }

  .profile-image {
    grid-row: 1 / -1;
  }

  .posts {
    grid-gap: 2em;
  }

  .profile-image,
  .profile-header,
  .posts-item,
  .posts {
    width: auto;
    max-width: 100%;
    margin: 0;
  }

  @media (max-width: 40em) {
    .profile {
      grid-row-gap: 1.5em;
    }

    .profile-image {
      grid-row: 1 / 2;
    }

    .profile-header {
      display: grid;
      grid-template-columns: auto 5fr;
      grid-gap: 1em;
      margin: 0;
    }
  }

  @media (max-width: 100px) {
    .profile {
      grid-row-gap: 1.5em;
    }

    .profile-image {
      grid-row: 1 / 2;
    }

    .profile-header {
      margin: 0;
    }

    .profile-settings-button {
      width: auto;
      padding: 1em;
      text-align: center;
    }
  }
}




/* Page section (1 central column) */
.page {
  flex: 100%;
  -ms-flex: 100%;
  background-color: teal;
  padding: 0em 1em;
}

.page h1 {
  color: whitesmoke;
}


.display-pet {
  width: 100%;
}

.display-topleft {
  position: absolute;
  top: 1%;
  left: 3%;
}

.display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.display-hover {
  display: block;
}

.inside-container {
  position: relative;
}

.inside-container:hover .display-hover,
.posts-inside-container:hover .display-hover {
  display: block;
}

.display-topleft-hover,
.display-hover {
  display: none;
}

.display-topleft-hover:hover {
  display: block;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 3;
}

.display-bottomright-hover {
  display: block;
  position: absolute;
  right: 20%;
  bottom: 20%;
  z-index: 3;
}