/* LAYOUT */
/* Left column */
.left15 {
  flex: 15%;
  -ms-flex: 15%;
  background-color: #eee;
  padding: 20px;
}

/* Right column */
.right15 {
  flex: 15%;
  -ms-flex: 15%;
  background-color: #eee;
  padding: 20px;
}

/* Right column */
.main70 {
  flex: 70%;
  -ms-flex: 70%;
  background-color: whitesmoke;
  padding: 5em;
}

.row {
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}

.row-padding {
  padding: 2em;
}

.row:after,
.row:before {
  float: left;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

.col,
.row:after,
.row:before {
  float: left;
  width: 100%;
}

.responsive-img,
.col.responsive-img {
  width: 25%;
}

@media screen and (min-width:0px) and (max-width:750px) {

  .responsive-img,
  .col.responsive-img {
    width: 100%;
  }
}

@media screen and (min-width:751px) and (max-width:800px) {

  .responsive-img,
  .col.responsive-img {
    width: 50%;
  }
}

@media screen and (min-width:801px) and (max-width:3000px) {

  .responsive-img,
  .col.responsive-img {
    width: 25%;
  }
}

@media screen and (min-width:3001px) and (max-width:8000px) {

  .responsive-img,
  .col.responsive-img {
    width: 12.5%;
  }
}







/* RESPONSIVE TOPNAV */
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav .search-container {
    float: none;
  }

  .topnav a,
  .topnav input[type=text],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    padding: 14px;
  }
}




/* Page section (1 central column) */
.page {
  flex: 100%;
  -ms-flex: 100%;
  background-color: teal;
  padding: 0em 1em;
}

.page h1 {
  color: whitesmoke;
}


/* Create 2 columns that sit next to each other */
/* Left column */
.left20 {
  flex: 20%;
  -ms-flex: 20%;
  background-color: #e1e1e1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  /* border-bottom: 1px dotted #555; */
}

/* Right column */
.right80 {
  flex: 80%;
  -ms-flex: 80%;
  background-color: #eee;
  padding: 20px;
  /* border-bottom: 1px dotted #bbb; */
}

/* Main column */
.main {
  flex: 100%;
  -ms-flex: 100%;
  background-color: #eee;
  padding: 20px 0;
  /* border-bottom: 1px dotted #bbb; */
}

.display-pet {
  width: 100%;
}

.post-hover-info.display-topleft,
.display-topleft {
  position: absolute;
  top: 1%;
  left: 3%;
}

.posts-inside-container.display-bottomright,
.post-hover-info.display-bottomright,
.display-bottomright {
  border-radius: 5px;
  background-color: #00000088;
  color: white;
  padding: 0 0.3em;

}

.display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.display-hover {
  display: block;
}

.inside-container {
  position: relative;
}

.inside-container:hover .display-hover,
.posts-inside-container:hover .display-hover {
  display: block;
}

.display-topleft-hover,
.display-hover {
  display: none;
}

.display-topleft-hover:hover {
  display: block;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 3;
}

.display-bottomright-hover {
  display: block;
  position: absolute;
  right: 20%;
  bottom: 20%;
  z-index: 3;
}



.container {
  padding: 0 20px 10px 20px;
  object-fit: cover;
}

.container.top {
  width: 100%;
  float: right;
}

.container.top.round {
  border-radius: 0px 0px 5px 5px;
}

.container.bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ddd;
}

.container.bottom.round {
  border-radius: 0px 0px 5px 5px;
}

.container:after {
  content: "";
  clear: both;
  display: table;
}

.container p {
  margin: 0 0 1em 0;
  font-size: smaller;
}