/* LAYOUT */
/* Left column */
.left15 {
  flex: 15%;
  -ms-flex: 15%;
  background-color: #eee;
  padding: 20px;
}

/* Right column */
.right15 {
  flex: 15%;
  -ms-flex: 15%;
  background-color: #eee;
  padding: 20px;
}

/* Right column */
.main70 {
  flex: 70%;
  -ms-flex: 70%;
  background-color: whitesmoke;
  padding: 5em;
}

.row {
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}

.row-padding {
  padding: 1em;
}

.row:after,
.row:before {
  float: left;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

.col,
.row:after,
.row:before {
  float: left;
  width: 100%;
}

.w25,
.col.w25 {
  width: 25%;
}

.w50,
.col.w50 {
  width: 50%;
}

@media screen and (max-width:1200px) {

  .w25,
  .col.w25 {
    width: 65%;
  }

  .w50,
  .col.w50 {
    width: 80%;
  }
}








/* RESPONSIVE TOPNAV */
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav .search-container {
    float: none;
  }

  .topnav a,
  .topnav input[type=text],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    padding: 14px;
  }
}




/* Page section (1 central column) */
.page {
  flex: 100%;
  -ms-flex: 100%;
  background-color: teal;
  padding: 0em 1em;
}

.page h1 {
  color: whitesmoke;
}


/* Create 2 columns that sit next to each other */
/* Left column */
.left20 {
  flex: 20%;
  -ms-flex: 20%;
  background-color: #e1e1e1;
  padding: 20px;
  /* border-bottom: 1px dotted #555; */
}

/* Right column */
.right80 {
  flex: 80%;
  -ms-flex: 80%;
  background-color: #f1f1f1;
  padding: 20px;
  /* border-bottom: 1px dotted #bbb; */
}

/* Main column */
.main {
  flex: 100%;
  -ms-flex: 100%;
  background-color: #eee;
  padding: 20px 0;
  /* border-bottom: 1px dotted #bbb; */
}

.display-pet {
  width: 100%;
}

.display-topleft {
  position: absolute;
  top: 1%;
  left: 3%;
}

.display-bottomright {
  position: absolute;
  bottom: 6%;
  right: 3%;
}

.display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.display-hover {
  display: block;
}

.inside-container:hover span.display-hover {
  display: inline-block;
}

.inside-container {
  position: relative;
}

.inside-container:hover .display-hover {
  display: block;
}

.inside-container:hover span.display-hover {
  display: inline-block;
}

.display-hover {
  display: none;
}

.container {
  padding: 0 20px 10px 20px;
  object-fit: cover;

}

.container.top {
  width: 100%;
  float: right;
}

.container.top.round {
  border-radius: 0px 0px 5px 5px;
}

.container.bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ddd;
}

.container.bottom.round {
  border-radius: 0px 0px 5px 5px;
}

.container:after {
  content: "";
  clear: both;
  display: table;
}

.container p {
  margin: 0 0 1em 0;
  font-size: smaller;
}