* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.header {
  padding: 2em;
  text-align: center;
  background: #1abc9c;
  color: white;
}

.header h1 {
  margin: 0;
  font-size: 40px;
}

.header h2,
.header h3 {
  margin: 0;
}


/* Column container */
.row {
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}


/* Create two unequal columns that sit next to each other */
/* Left column */
.side {
  -ms-flex: 25%;
  flex: 25%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  -ms-flex: 75%;
  flex: 75%;
  background-color: white;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}