* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.header {
  padding: 8em 2em;
  text-align: left;
  background: #008877;
  background-image: url('../assets/img/header.jpg');
  background-size: cover;
  background-position: center top;
  color: white;
}

.header p {
  margin: 0;
}

.header h1 {
  margin: 0;
  font-size: 40px;
}

.header h2,
.header h3,
.header h4 {
  margin: 0;
}

.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}


/* Column container */
.row {
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}


/* Create two unequal columns that sit next to each other */
/* Left column */
.side {
  -ms-flex: 25%;
  flex: 25%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  -ms-flex: 75%;
  flex: 75%;
  background-color: white;
  padding: 20px;
}

/* Footer */
footer {
  padding: 1em;
  text-align: center;
  background: #ddd;
  height: auto;
  overflow: auto;
}

footer p {
  float: left;
  padding-top: 0.5em;
  padding-left: 2em;
}

footer img.footer-icon {
  width: 80px;
  display: block;
  float: left;
}

/* General helpful classes */