/* GENERAL STYLE AND RESPONSIVE */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}


label {
  display: block;
}


select {
  appearance: none;
  padding: 0.3em 1em;
  border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

a {
  color: teal;
  text-decoration: none;
  opacity: 100%;
}

a:hover {
  text-decoration: underline;
  opacity: 80%;
}

button {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5px;

  opacity: 100%;
  color: white;
  background-color: teal;
}

button:hover {
  opacity: 80%;
}

/* IMAGES */
/* Center the image and position the close button */
.image-container {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}


/* HEADER */
header {
  background-color: #eee;
}

.header {
  padding: 8em 2em;
  text-align: left;
  background: #008877;
  background-image: url('../assets/img/header.jpg');
  width: 100%;
  background-size: cover;
  background-position: center top;
  color: white;
}

.header p {
  margin: 0;
}

.header h1 {
  margin: 0;
  font-size: 40px;
}

.header h2,
.header h3,
.header h4 {
  margin: 0;
}




/* FOOTER */
footer {
  background-color: #333;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 1em;
}

footer .footer-website-name {
  color: #fff;
  font-size: smaller;
  font-family: 'Open Sans';
  margin-top: 1%;
  margin-bottom: 1%;
}

footer .footer-icons a {
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans';

  opacity: 90%;
  color: #ffffff;
  font-size: 70%;
  text-align: left;

  width: 8cm;
  text-decoration: none;
}

footer .footer-icons a:hover {
  color: rgb(0, 182, 182);
}

footer .footer-icons a:active {
  transform: scale(0.99);
}

/* Footer left */
footer .footer-left {
  width: 20%;
}

footer .footer-left img {
  width: 60px;
}

/* Footer Center */
footer .footer-center {
  width: 50%;
  border-right: 1px solid #444;
}

/* Footer Right */
footer .footer-right {
  padding-left: 1em;
  width: 30%;
}

footer .footer-icons i {
  padding: 0 5px;
}



/* responsive footer */
@media (max-height:800px) {
  footer {
    position: static;
  }
}

@media (max-width: 880px) {

  footer .footer-left,
  footer .footer-center,
  footer .footer-right {
    width: 100%;
    display: block;
  }

  footer .footer-left {
    padding-bottom: 1em;
    border: none;
    border-bottom: 1px dashed dimgray;
  }

  footer .footer-left img {
    width: 100px;
  }

  footer .footer-right {
    padding-left: 0;
    margin-top: 1em;
  }
}