/* Sticky topnav - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the topnav will inherit default position */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  font-family: 'Poppins', sans-serif;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.topnav a.right {
  float: right;
}

.topnav a:hover {
  color: white;
  background-color: #1abc9c;
  transition: 0.3s ease-out;
}

.topnav a.active {
  background-color: firebrick;
  color: white;
}

.topnav a.active:hover {
  background-color: #1abc9c;
  color: white;
}

.topnav .heart-container,
.topnav .search-container {
  float: right;
}

.topnav input[type=text],
.topnav .search-container button {
  width: 20%;
  float: right;
  border: none;
  padding: 8px;
  font-size: 17px;
  margin-top: 10px;
  border-radius: 5px 0px 0px 5px;
}

.topnav input[type=text] {
  width: 50%;
}

.topnav .search-container button {
  color: white;
  cursor: pointer;
  margin-right: 10px;
  background-color: cornflowerblue;
  border-radius: 0px 5px 5px 0px;
  border: none;
}

.topnav .heart-container button {
  float: right;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #ff8888;
  padding: 8px;
  font-size: 17px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.topnav .heart-container button:hover,
.topnav .search-container button:hover {
  transition: 0.3s;
  color: white;
  background-color: #1abc9c;
}