/* Full-width input fields */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 0 0 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Extra styles for the cancel button */
.cancel-button {
  float: left;
  width: auto;
  background-color: #f44336;
  border-radius: 3px;
}

.container {
  padding: 1em;
}

/* The overlayLogin (background) */
.overlayLogin {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 1em;
}

/* overlayLogin Content/Box */
.overlayLogin-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  padding-top: 1em;
}

/* The Close Button (x) */
.close {
  float: right;
  color: #000;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 10px;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .cancel-button {
    width: 100%;
  }
}



/* PROFILE */
.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 200px 100px 100px;
  grid-template-rows: repeat(5, 100px);
}

#item-1 {
  background-color: red;
  grid-column: 1/3;
}

#item-4 {
  background-color: blue;
  grid-column: 2/4;
}

#item-5 {
  background-color: green;
  grid-column: 1/4;
}

#item-9 {
  background-color: yellow;
  grid-column: 1/4;
}